.footer-left {
    margin: 10px 0 0 32px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    a {
    color: $textDark;
    display: block;
    padding: 10px 0 0 0;
    text-decoration: none;
    }
    h6 {
    color: $textBlack;
    font-size: 16px;
    }
}

footer p {
    color: #808080;
}

.footer-bottom-left {
    margin: 40px 0 80px 32px;
}

@media only screen and (max-width:768px) {
    .footer-bottom-right {
        display: none;
    }
}

@media only screen and (min-width:768px) {
    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .footer-left, .footer-bottom-left {
            margin: 10px 0 10px 80px;
        }
    }
    .footer-right {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        margin-right: 80px;
    }
    .footer-bottom-right {
        display: flex;
        margin: 10px 0 80px 32px;
        justify-content: flex-end;
        margin-right: 80px;
    }
}