.company-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    margin: 10px 40px 10px 40px;
    .boomerang {
        display: none;
    }
    img {
        width: 150px;
        margin: auto;
    }
}

@media only screen and (min-width:968px) {
        .company-images {
            display: flex;
            .boomerang {
                display: unset;
            }
        }
    }
