.upsell {
    background: url(/assets/background.svg) no-repeat center;
    background-size: cover;
    text-align: left;
    h2 {
        font-size: $textSmall;
        font-weight: 600;
        padding-top: 100px;
        margin-left: 20px;
    }
    p {
        font-size: 20px;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width:768px) {
    .upsell {
        background-size: auto;
        margin: 40px 80px 40px 80px;
        border-radius: 10px;
    }
}